{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mx-5 my-5">
    <h1>About</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id massa nibh. Duis nibh dui, porta a porttitor quis, placerat non quam. In et dictum lectus. Pellentesque viverra tortor eget elementum laoreet. Integer placerat lacinia turpis, ac ornare metus tempus sit amet. Mauris sed feugiat odio. Maecenas eget hendrerit lorem.
    </p>
    <p>
    Proin posuere rutrum pharetra. Nullam cursus molestie tincidunt. Nulla consectetur purus vitae malesuada consectetur. Phasellus iaculis massa eu egestas mattis. Suspendisse consectetur ultricies felis, at convallis est sollicitudin non. Etiam sagittis, nisi sit amet viverra pulvinar, dui eros ultrices nulla, vitae tempor sem odio eu neque. Proin quis iaculis velit. Quisque egestas eget dui ut aliquet. Sed arcu risus, aliquam ut metus non, ullamcorper volutpat elit. Morbi sagittis, massa venenatis iaculis placerat, lectus purus accumsan elit, eu scelerisque purus dui in erat.
    </p>
    Duis congue malesuada risus vel ullamcorper. Fusce hendrerit sapien sed rhoncus dictum. Ut ex augue, egestas non finibus sit amet, lacinia non sem. Integer vel urna augue. Ut eget urna id risus maximus tristique eu quis tortor. Proin ut nisl eleifend tortor sagittis facilisis. Ut elementum non lacus nec lobortis. Maecenas condimentum eget tortor ut pretium. Sed ornare accumsan neque, varius sollicitudin ex pellentesque eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec tempus gravida gravida.
    <p>
    Praesent luctus ipsum ac neque tempus condimentum. Nullam quis libero ex. Curabitur vitae dolor quis magna convallis laoreet. Nam ultrices lacus nulla, vitae mattis lectus consequat id. Nullam ullamcorper, ex et sollicitudin malesuada, purus leo efficitur diam, id consequat ipsum lorem vulputate justo. Nullam ut facilisis nulla, nec tristique dui. Aliquam erat volutpat. Donec ultricies aliquam orci finibus dignissim.
    </p>
    <p>
    Integer ullamcorper sit amet neque sit amet tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed pretium tincidunt tristique. Cras feugiat aliquam risus, ac tincidunt massa. Maecenas sit amet felis libero. Morbi nisi dolor, vestibulum et dui sit amet, maximus feugiat augue. Proin egestas laoreet quam dapibus eleifend.
    </p>
</div>
{% endblock %}